In [7]:
num = input("Enter a number")
result = 0 

for i in num:
    result = result + int(i)
print(result)

6

In [8]:
num = input("Enter a number")
result = sum(int(i) for i in num)
print(result)

6

In [2]:
# find min number in 3 digit
a = int(input("Enter a number"))
b = int(input("Enter a number"))
c = int(input("Enter a number"))

if (a<b and a<c):
    print("Small number is a",a)
elif ( b<c):
    print("Small number is b",b)
else:
    print ("c is small", c)

c is small 2

In [4]:
# while loop
table = int(input("Enter a number"))
i = 1
while i < 11:
    print(table * i)
    i = i + 1

2
4
6
8
10
12
14
16
18
20

In [24]:
row = int(input("Enter a number"))

for i in range (1,row + 1):
    # print("*")
    for j in range (1,i + 1):
        print("*", end='')
    print()

*
**
***

In [ ]:
row = int(input("Enter a number"))
for i in range(1,row + 1):
    for j in range(1,i + 1):
        print(j, end='')
    for k in range (i - 1,0,-1):
        print(k,end='')
    print()

1
121
12321
1234321

In [1]:
l=[1,2,3,4,5,6,7,8,9,10]
print(l[::-1])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [7]:
print(l[-5:-2])

[6, 7, 8]

In [8]:
print(l[::-1])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [9]:
l.append('tejaswini')

In [10]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'tejaswini']

In [11]:
l[0]=l.append('sadab')

In [12]:
l

[None, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'tejaswini', 'sadab']

In [13]:
l.remove(['tejaswini','sadab'])

ValueError: list.remove(x): x not in list

In [14]:
l=[1,2,3,4]
print(l)

[1, 2, 3, 4]

In [15]:
l.insert(0,'sadab')
l.insert(-1,'simpal')

In [16]:
l

['sadab', 1, 2, 3, 'simpal', 4]

In [17]:
l[-1]

4

In [18]:
del l[-2]

In [19]:
l

['sadab', 1, 2, 3, 4]

In [20]:
l.append('simpal')

In [21]:
print(l)

['sadab', 1, 2, 3, 4, 'simpal']

In [22]:
l.remove(1)

In [23]:
l

['sadab', 2, 3, 4, 'simpal']

In [24]:
l.pop()
l

['sadab', 2, 3, 4]

In [25]:
l.clear()
l

[]

In [26]:
l=[1,2,3,4,5,6,7,8,9,10]

odd=[i for i in l if i%2 ==0]
even=[i for i in l if i%2 !=0]
print(odd)
print(even)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In [29]:
l=[i for i in range(1,11)]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [30]:
sq=[i**2 for i in l]
sq

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [31]:
num=[i for i in range(1,51) if i%5 == 0]
num

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [34]:
note=['apple','banana','patato','onion']

fruits=[i for i in note if i == 'apple' or i =='banana']
veg =[i for i in note if i =='patato' or i =='onion']
print(veg)
print(fruits)

['patato', 'onion']
['apple', 'banana']

In [35]:
l1=[1,2,3,4]
l2=[1,2]

[i*j for i in l1 for j in l2]

[1, 2, 2, 4, 3, 6, 4, 8]

In [38]:
a=[1,2,3]
b=a.copy()

print(a)
print(b)

a.append(4)
print(a)
print(b)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3]

In [40]:
a=1
b=2
a,b=b,a

In [43]:
print(a)
print(b)

2
1

In [45]:
l1=[1,2,3]
l2=[1,2,3]

l3=zip(l1,l2)
[i+j for i,j in l3]

[2, 4, 6]